.cluster-page {
    font-family: "Roboto Condensed",sans-serif;
    display: flex;
    flex-direction: column;
}

.cluster-page .title-container {
    width: 100%;
    background-color: {{ header_color }};
}

.cluster-page .title-container h1 {
    padding: 5px;
    margin: 0;
}

.information-container {
    display: flex;
    flex-direction: column;
}

.example-image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    justify-content: space-between;
    gap: 5px;
}

.example-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18%;
}

.example-image {
    width: 100%;
    height: auto;
    margin: 0;
}